<div class="jumbotron">
  <h1 i18n="User welcome|Localization Header" class="display-4">Hello World!</h1>
  <p class="lead">This is a simple example of a repository with angular 10 on board
  <hr class="my-4">
  <p>In this example, the main functionality of tasks and diary is written using firebase</p>
  <p class="lead">
    <a [routerLink]="['planning']" class="btn btn-primary btn-lg" role="button">Start Planning</a>
  </p>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-primary" role="alert">
      List of used components
    </div>
  </div>

  <div class="col-md-12">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Angular Core</h4>
        </div>
        <div class="card-body">
          <p>
            DEVELOP ACROSS ALL PLATFORMS <br>
            Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.
          </p>
          <a href="https://angular.io/" type="button" class="btn btn-lg btn-block btn-outline-primary">Link</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">RxJS Library</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Observable object</li>
            <li>Operators and method pipe ()</li>
            <li>Объекты Subject</li>
          </ul>
          <br>
          <br>
          <a href="https://webdraftt.com/tutorial/rxjs" type="button" class="btn btn-lg btn-block btn-outline-primary">Link</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li>Routing</li>
            <li>Template</li>
            <li>Event binding</li>
            <li>Forms</li>
            <li>Http Client</li>
          </ul>
          <a type="button" class="btn btn-lg btn-block btn-outline-primary">Link</a>
        </div>
      </div>
    </div>
  </div>
</div>
